<app-caracteristicas-empleado-c (nombreEnviado)="recibirNombre($event)" [nombres]="cargarNombre()"
  (CaracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
<table #empleadosTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let columna of empleadoDeLista; let i = index" [matColumnDef]="columna">
    <th mat-header-cell *matHeaderCellDef> {{columna | titlecase}} </th>
    <td mat-cell *matCellDef="let empleado">

      <ng-container *ngIf="columna === 'caracteristicas'; else otherColumn">
        <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Ver caracteristicas</button>
        <mat-menu #menu="matMenu">
          <li style="margin: 5px;" *ngFor="let caracteristica of mostrarCaracteristicas(empleado.nombre)"> - {{caracteristica}}</li>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="columna === 'acciones'">
        <button style="margin: 10px;" mat-flat-button color="accent">
          <a style="text-decoration: none;color: white;" [routerLink]="['/actualizar',empleado.nombre]">
            Editar</a>
        </button>

        <button style="margin: 10px;" mat-flat-button color="warn" 
        (click)="eliminarEmpleado('Eliminar Empleado' ,
         'Seguro que quieres eliminar el Empleado',
         empleado.nombre)"
        >
          Eliminar
        </button>
      </ng-container>

      <ng-template #otherColumn>
        {{ empleado[columna] }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="empleadoDeLista"></tr>
  <tr mat-row *matRowDef="let row; columns: empleadoDeLista"></tr>

</table>
