<div class="titulo">
  <h1>{{titulo}}</h1>
</div>
<div class="table-container">
  <form action="">
    <mat-card class="card">
      <mat-card-content>
        <mat-card-title class="titulo">Agregar Empleado</mat-card-title>

        <mat-form-field class="input">
          <mat-label>Ingresa el Nombre</mat-label>
          <input type="text" name="nombre" matInput [(ngModel)]="cuadroNombre">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Ingresa el Apellido</mat-label>
          <input matInput type="text" name="apellido" [(ngModel)]="cuadroApellido">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Ingresa el Area</mat-label>
          <input name="cargo" type="text" matInput [(ngModel)]="cuadroCargo">
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Salario</mat-label>
          <input matInput placeholder="Ingresa El Salario" name="salario" type="number" [(ngModel)]="cuadroSalario">
        </mat-form-field>
        <button  mat-flat-button color="primary" (click)="agregarEmpleado()">
          <mat-icon fontIcon="add_circle"></mat-icon>
          Agregar Empleado
        </button>

      </mat-card-content>
    </mat-card>
  </form>

  <app-empleado-hijo-c  [empleadoDeLista]="columnas" [dataSource]="empleados"></app-empleado-hijo-c>


  
</div>